{% extends "base.html" %} {% block content %}
<h1>Todo List</h1>
<ul>
    {% for todo in todos %}
    <li>
        {{ todo.title }}: {% if todo.completed %}Completed{% else %} Not completed{% endif%}
    </li>
    {% endfor %}
    </ul>
{% endblock %}